**MAESTRÍA EN INTELIGENCIA ARTIFICIAL APLICADA**

**Curso: TC4029 - Ciencia y analítica de datos**

Tecnológico de Monterrey

Prof Grettel Barceló Alonso

**Semana 3**
Bases, almacenes y manipulación de datos

---

*   NOMBRE: Juan José Ponce Estrada
*   MATRÍCULA: A01659811

---

En esta actividad usarás la base de datos relacional `classicmodels` (MySQL), compuesta por las siguientes tablas:

*   `Customers`: almacena los datos de los clientes.
*   `Products`: almacena una lista de modelos de coches a escala.
*   `ProductLines`: almacena una lista de categorías de líneas de productos.
*   `Orders`: almacena los pedidos de venta realizados por los clientes.
*   `OrderDetails`: almacena elementos de línea de pedidos de ventas para cada pedido de ventas.
*   `Payments`: almacena los pagos realizados por los clientes en función de sus cuentas.
*   `Employees`: almacena toda la información de los empleados, así como la estructura de la organización, como quién informa a quién.
*   `Offices`: almacena los datos de la oficina de ventas.

Revisa con detalle su esquema para que comprendas cómo se relacionan las tablas anteriores.

Recuerda que:


*   Una **clave primaria** es un atributo (o conjunto) que identifica unívocamente a cada registro en la tabla.
*   Una **clave foránea** (externa o ajena) es un atributos (o conjunto) en una tabla que es una clave primaria en otra (o posiblemente la misma) tabla.
*   Las **relaciones** son las líneas que conectan una tabla con otra y el extremo determina la cardinalidad. Las relaciones con línea continua (identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser foránea y primaria (al mismo tiempo) de otra. Las relaciones con línea discontinua (no identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser sólo foránea en otra.

# **Parte 1**. SQLAlchemy y SQL básico

In [7]:
pip install pymysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.12/site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import sqlalchemy as sqla
import pymysql
import pandas as pd

1.	Crea el motor `sqlalchemy`, con el método `create_engine()` y una conexión con `connect()` como se muestra a continuación:

In [10]:
import sqlalchemy as sqla

# Crear el motor de conexión
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.217.214:3306/classicmodels', pool_recycle=3600)

# Establecer la conexión
conn = db.connect()

Escribe las consultas en SQL para obtener:

2.	La información de las líneas de productos.

In [ ]:
SELECT * 
FROM ProductLines;

3.	La información de los empleados ordenados por nombre (`firstName`).

In [ ]:
SELECT * 
FROM Employees
ORDER BY firstName;

4.	Los países donde hay oficinas (sin duplicar).

In [ ]:
SELECT DISTINCT country 
FROM offices;

5.	El nombre y teléfono de los clientes de la ciudad de Nueva York (*NYC*).

In [ ]:
SELECT customerName, customerNumber
FROM customers
WHERE city = "NYC";

6.	El código y nombre de los productos del vendedor *Gearbox Collectibles* que tengan menos de 1000 unidades en stock.

In [ ]:
SELECT productName, productCode
FROM products
WHERE quantityInStock < 1000 AND productVendor = "Gearbox Collectibles";

7.	Los tres productos más caros, desde el punto de visto de los comercializadores (`buyPrice`).

In [ ]:
SELECT productName 
FROM products 
ORDER BY buyPrice DESC LIMIT 3;

8.	La cantidad de productos por línea de producto (no las existencias en inventario)

In [ ]:
SELECT productLine, COUNT(*) AS productCount
FROM Products
GROUP BY productLine;

9.	La cantidad de empleados por país (tomando en cuenta la ubicación de la oficina).

In [ ]:
SELECT offices.country, COUNT(employees.employeeNumber) AS employeeCount
FROM employees 
JOIN offices ON employees.officeCode = offices.officeCode
GROUP BY offices.country;

10.	El promedio de los pagos de cada uno de los clientes de España (sin incluir aquellos que no poseen ningún pago).

In [ ]:
SELECT customers.customerName, AVG(payments.amount) AS averagePayment
FROM payments 
JOIN customers ON Payments.customerNumber = customers.customerNumber
WHERE customers.country = 'Spain'
GROUP BY customers.customerName;

# **Parte 2**. Manipulación de datos con Pandas

11.	Carga las tablas empleadas en dataframes con el mismo nombre y resuelve las consultas anteriores con las funciones de Pandas (NO con SQL). Cuida no sobreescribir los dataframes originales al resolver las consultas. Debes obtener los mismos resultados que con SQL.

In [ ]:
# Asumo que aqui ya existe conexion a la base de datos
df_employees = pd.read_sql('SELECT * FROM Employees', conn)
df_offices = pd.read_sql('SELECT * FROM Offices', conn)
df_customers = pd.read_sql('SELECT * FROM Customers', conn)
df_products = pd.read_sql('SELECT * FROM Products', conn)
df_payments = pd.read_sql('SELECT * FROM Payments', conn)

#2
df_product_lines

#3
df_employees_sorted = df_employees.sort_values(by='firstName')
df_employees_sorted

#4
df_unique_countries = df_offices['country'].drop_duplicates()
df_unique_countries

#5
df_nyc_customers = df_customers[df_customers['city'] == 'NYC'][['customerName', 'customerNumber']]
df_nyc_customers

#6
df_gearbox_products = df_products[(df_products['productVendor'] == 'Gearbox Collectibles') & (df_products['quantityInStock'] < 1000)][['productCode', 'productName']]
df_gearbox_products

#7
df_top_3_expensive = df_products.sort_values(by='buyPrice', ascending=False).head(3)[['productName', 'buyPrice']]
df_top_3_expensive

#8
df_product_count_by_line = df_products.groupby('productLine')['productCode'].count().reset_index(name='productCount')
df_product_count_by_line

#9
df_employees_by_country = pd.merge(df_employees, df_offices, on='officeCode')
df_employee_count_by_country = df_employees_by_country.groupby('country')['employeeNumber'].count().reset_index(name='employeeCount')
df_employee_count_by_country

#10
df_payments_spain = pd.merge(df_customers[df_customers['country'] == 'Spain'], df_payments, on='customerNumber')
df_avg_payments_spain = df_payments_spain.groupby('customerName')['amount'].mean().reset_index(name='averagePayment')
df_avg_payments_spain

# **Parte 3**. Cliente de Python Firestore

En esta fase te conectarás a una base de datos no relacional de Firestore desde Python. Para ello utilizarás los módulos `credentials` y `firestore` de la biblioteca `firebase_admin`.

In [ ]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

El archivo `veterinary.json` almacena la clave privada para autenticar una cuenta y autorizar el acceso a los servicios de Firebase. A través de la función `Certificate()`, se regresa una credencial inicializada, que puedes utilizar para crear una nueva instancia de la aplicación. Después de eso, tu conexión a Firestore utilizará las reglas de seguridad establecidas para la base de datos y el usuario autenticado.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
DIR = "/content/drive/MyDrive/Colab Notebooks/MNA/TC4029 - Ciencia y analítica de datos/Semana 3/Actividad3_BD_Manipulacion"
os.chdir(DIR)

In [ ]:
cred = credentials.Certificate('veterinary.json')
firebase_admin.initialize_app(cred)
db = firestore.client()

12.	Investiga cómo leer la colección `PET_OWNER` y mostrar su contenido en un dataframe. Asegúrate de incluir el id en el resultado

In [ ]:
firebase_admin.delete_app(firebase_admin.get_app())